<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <link rel="stylesheet" href="style.css">
    <style>
        div{
            height:300px;
            width: 300px;
            display: inline-block;
            margin: 0.5rem;
            border: 2px solid black;
            border-radius: 5px;
            background-color: aqua;
        }
    </style>

</head>
<body>
    <h1>Hello!</h1>
    <p><em>Welcome to the playground</em></p>
    <main>
        {% for i in range(0,num) %}
        <div style="background-color: {{ color }};"></div>
        {% endfor %}
    </main>
</body>
</html>